prm/*.prm
lbl/*.lbl
train/wav/*
train/lbl/*.lbl
train/prm/*.prm
train/lst/*.lst
train/ndx/*.ndx
test/wav/*.wav
test/lbl/*.lbl
test/prm/*.prm
test/lst/*.lst
test/res/*.res
test/ndx/*.ndx
gmm/*.gmm
*~

